
table {
    border: 1px solid;
    margin: 1px auto;
    border-collapse: collapse;
    cursor: crosshair;
}

td {
    border: 1px solid;
    border-spacing: 1px;
}

input {
    margin: auto;
    width: 200px;
}
