<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Life</title>
    <style>
        table {
            margin: 1px auto;
            border-collapse: collapse;
        }

        table#login {
            border: 1px solid;
            margin: 1px auto;
            border-collapse: collapse;
        }

        table#gameGrid {
            border: 1px solid;
            margin: 1px auto;
            border-collapse: collapse;
        }

        td#gameGrid {
            border: 1px solid;
            border-spacing: 1px;
        }

        input {
            margin: auto;
            width: 200px;
        }

    </style>
    <link href="favicon.png" rel="shortcut icon" type="image/x-icon"/>
</head>
<body onload="drawGrid()">
<table>
    <tr>
        <td><h1>GAME LIFE</h1></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <form>
                <table id="login">
                    <tr>
                        <td>
                            <p>USERNAME</p>
                            <input type="text" value="Login">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>PASSWORD</p>
                            <input type="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="LOGIN">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="REGISTRATION">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <div>
                <table id="gameGrid">
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td><input id="generateCells" onclick="makeRequestAndUpdate('get_gen_cells')" type="button"
                               value="Generate Random Cells"></td>
                    <td><input id="oneStep" onclick="makeRequestAndUpdate('one_step')" type="button" value="One Step">
                    </td>
                    <td><input id="cleanGrid" onclick="makeRequestAndUpdate('clear')" type="button" value="Clean"></td>
                </tr>
                <tr>
                    <td><input id="runSteps" onclick="setFlag(true)" type="button" value="Run"></td>
                    <td><input id="stopSteps" onclick="setFlag(false)" type="button" value="Stop"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<script>
    let wightTable = heightTable = 80;
    let wightHeightCell = "5px";
    let flagRun = true;
    let delayValue = 500;
    const url = '';
    clearCells();

    function setFlag(f) {
        flagRun = f;
        if (flagRun) runSteps();
    }

    async function sleep(delayValue) {
        return new Promise(resolve => setTimeout(resolve, delayValue));
    }

    async function runSteps() {
        if (delayValue === 0) return;
        while (flagRun) {
            await sleep(delayValue);
            await makeRequestAndUpdate("one_step");
        }
    }

    function drawCells(cells) {
        let elements = Object.values(cells[0]);
        for (let i = 0; i < elements.length; i++) {
            let currElement = elements[i];
            if (currElement['status'] === true) {
                let td = document.getElementById(i);
                td.setAttribute("bgcolor", "black");
            } else {
                let td = document.getElementById(i);
                td.setAttribute("bgcolor", "white")
            }
        }
    }

    function clearCells() {
        for (let i = 0; i < wightTable * heightTable; i++) {
            let td = document.getElementById(i);
            td.setAttribute("bgcolor", "white");
        }
    }

    async function makeRequestAndUpdate(type) {
        if (type === 'clear') flagRun = false;
        let response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                type: type
            })
        });
        let result = await response.json();
        drawCells(result['result']);
    }

    function drawGrid() {
        const tableBody = document.createElement("tbody");
        let c = 0;
        for (let i = 0; i < heightTable; i++) {
            const row = document.createElement("tr");
            for (let j = 0; j < wightTable; j++) {
                const el = document.createElement("td");
                el.setAttribute("width", wightHeightCell);
                el.setAttribute("height", wightHeightCell);
                el.setAttribute("id", c);
                el.setAttribute("onclick", "clickGrid(this)")
                row.appendChild(el);
                c++;
            }
            tableBody.appendChild(row);
        }
        document.getElementById("gameGrid").appendChild(tableBody);
        document.getElementById("gameGrid").setAttribute("border", "0");
    }
</script>
</body>
</html>