<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Life</title>
    <link href="index.css" rel="stylesheet">
    <link href="favicon.png" rel="shortcut icon" type="image/x-icon"/>
</head>
<body onload="drawGrid()">
<div>
    <table id="gameGrid">

    </table>
</div>
<br>
<table>
    <tr>
        <td><input id="generateCells" onclick="makeRequestAndUpdate('get_gen_cells')" type="button"
                   value="Generate Random Cells"></td>
        <td><input id="oneStep" onclick="makeRequestAndUpdate('one_step')" type="button" value="One Step"></td>
        <td><input id="cleanGrid" onclick="makeRequestAndUpdate('clear')" type="button" value="Clean"></td>
    </tr>
    <tr>
        <td><input id="delayValue" type="text" value="100"></td>
        <td><input id="runSteps" onclick="setFlag(true)" type="button" value="Run"></td>
        <td><input id="stopSteps" onclick="setFlag(false)" type="button" value="Stop"></td>
    </tr>
    <tr>
        <td><input id="applyDelay" onclick="setDelay()" type="button" value="Apply"></td>
    </tr>
</table>
<script>
    let wightTable = heightTable = 80;
    let wightHeightCell = "5px";
    let flagRun = true;
    let delayValue = 100;
    const url = '';
    clearCells();

    function setFlag(f) {
        flagRun = f;
        if (flagRun) runSteps();
    }

    function setDelay() {
        let v = document.getElementById("delayValue").value;
        delayValue = parseInt(v);
    }

    async function sleep(delayValue) {
        return new Promise(resolve => setTimeout(resolve, delayValue));
    }

    async function runSteps() {
        if (delayValue === 0) return;
        while (flagRun) {
            await sleep(delayValue);
            await makeRequestAndUpdate("one_step");
        }
    }

    function drawCells(cells) {
        let elements = Object.values(cells[0]);
        for (let i = 0; i < elements.length; i++) {
            let currElement = elements[i];
            if (currElement['status'] === true) {
                let td = document.getElementById(i);
                td.setAttribute("bgcolor", "black");
            } else {
                let td = document.getElementById(i);
                td.setAttribute("bgcolor", "white")
            }
        }
    }

    function clearCells() {
        for (let i = 0; i < wightTable * heightTable; i++) {
            let td = document.getElementById(i);
            td.setAttribute("bgcolor", "white");
        }
    }

    async function makeRequestAndUpdate(type) {
        let response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                type: type
            })
        });
        let result = await response.json();
        drawCells(result['result']);
    }

    function drawGrid() {
        const tableBody = document.createElement("tbody");
        let c = 0;
        for (let i = 0; i < heightTable; i++) {
            const row = document.createElement("tr");
            for (let j = 0; j < wightTable; j++) {
                const el = document.createElement("td");
                el.setAttribute("width", wightHeightCell);
                el.setAttribute("height", wightHeightCell);
                el.setAttribute("id", c);
                el.setAttribute("onclick", "clickGrid(this)")
                row.appendChild(el);
                c++;
            }
            tableBody.appendChild(row);
        }
        document.getElementById("gameGrid").appendChild(tableBody);
        document.getElementById("gameGrid").setAttribute("border", "0");
    }
</script>
</body>
</html>